<footer class="footer">
    <div class="d-flex flex-column flex-md-row justify-center align-items-center py-36 py-md-40">
        <div class="me-custom me-md-custom mb-md-24 text-md-start text-sm-center">
            <img src="/assets/images/logo-remove.png" alt="logo-remove" class="logo-img mb-16">
            <nav>
                <h2 class="h6 text-primary-700">循環選物股份有限公司</h2>
                <p class="fs-6 text-primary-700">地址：100 台北市中正區重慶南路一段 122 號</p>
                <p class="fs-6 text-primary-700">統一編號：77776666</p>
            </nav>
        </div>
        <div class="me-custom me-md-custom mb-md-24">
            <ul>
                <li class="fs-6 mb-16 text-primary-800 px-sm-16">產品資訊</li>
                <li class="fs-6 mb-16 text-primary-800">關於循環選物</li>
                <li class="fs-6 text-primary-800 px-sm-16">專欄文章</li>
            </ul>
        </div>
        <div class="text-md-end text-sm-center ms-md-95 ms-sm-0">
            <nav class="mb-16">
                <span class="facebook-icon mb-16"></span>
                <span class="ins-icon"></span>
                <span class="line-icon"></span>
            </nav>
            <p class="fs-6 text-primary-700">© Copyright 2025 循環選物. All Rights Reserved</p>
        </div>
    </div>
</footer>