<nav>
    <nav class="navbar navbar-expand-lg header-title d-flex">
        <div class="container-fluid">
            <div>
                <nav class="d-flex">
                    <a class="navbar-brand py-12 py-md-8 me-136 me-sm-167" href="index.html">
                        <img src="/assets/images/logo.png" alt="logo" class="img-logo">
                    </a>
                    <button class="navbar-toggler d-sm-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse d-sm-none" id="navbarNav">
                        <ul class="navbar-nav align-center">
                            <li class="nav-item me-136">
                                <form class="d-flex search">
                                    <span class="material-icons me-8 py-18 ps-20 text-neutral-600">search</span>
                                    <input class="search-bar " type="search" placeholder="輸入關鍵字" aria-label="Search">
                                    <button class="search-btn py-12 px-20 md" type="submit">搜尋</button>
                                </form>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link h6 text-neutral-black me-24" href="#">產品分類</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link h6 text-neutral-black me-24" href="story.hyml">關於循環選務</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link h6 text-neutral-black me-24" href="#">專欄文章</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link h6 text-neutral-black me-24" href="#"><span class="material-icons">shopping_cart</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link h6 login-btn px-20" href="#">註冊/登入</a>
                            </li>
                        </ul>
                    </div>
                <!--選單-->
                <div class="d-flex d-md-none">
                    <a class="nav-link h6 text-primary-500 m-sm-8 py-md-8 align-center" href="#"><span class="material-icons">shopping_cart</span></a>
                        <button class="nav-link h6 text-primary-500 m-sm-8" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                            <span class="material-icons">menu</span>
                        </button>
                    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                        <div class="offcanvas-header">
                            <a class="navbar-brand me-136 me-sm-167" href="index.html">
                                <img src="/assets/images/logo.png" alt="logo" class="img-logo">
                            </a>
                            <div class="d-flex d-md-none">
                                <a class="nav-link h6 text-primary-500 m-sm-8" href="#"><span class="material-icons">shopping_cart</span></a>
                                <div>
                                    <button class="nav-link h6 text-primary-500 m-sm-8" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                                        <span class="material-icons">menu</span>
                                    </button>
                                </div>
                            </div>
                    </div>
                    <div class="offcanvas-body my-20">
                            <div class="d-flex flex-column">
                                <form class="d-flex search mb-24">
                                    <span class="material-icons me-8 py-18 ps-20 text-neutral-600">search</span>
                                    <input class="search-bar" type="search" placeholder="輸入關鍵字" aria-label="Search">
                                    <button class="search-btn py-12 px-20 md" type="submit">搜尋</button>
                                </form>
                                <ul class="navbar-nav mb-20">
                                    <li class="nav-item d-flex align-center justify-between">
                                        <p class="fs-6 d-inline text-primary-700 py-8 m-0">產品分類</p>
                                        <a href="#"><span class="material-icons text-primary-700">arrow_forward_ios</span></a>
                                    </li>
                                    <li class="nav-item d-flex align-center justify-between">
                                        <p class="fs-6 d-inline text-primary-700 py-8 m-0">關於循環選物</p>
                                        <a href="#"><span class="material-icons text-primary-700">arrow_forward_ios</span></a>
                                    </li>
                                    <li class="nav-item d-flex align-center justify-between">
                                        <p class="fs-6 d-inline text-primary-700 py-8 m-0">專欄文章</p>
                                        <a href="#"><span class="material-icons text-primary-700">arrow_forward_ios</span></a>
                                    </li>
                                </ul>
                                <div class="d-flex align-center mt-20">
                                    <span class="material-icons text-primary-700 me-8">login</span>
                                    <p class="fs-6 text-neutral-700 d-inline m-0">登入/註冊</p>
                                </div>
                            </div>
                    </div>
                </div>
            </nav>
        </div>
    </nav> 
    <p class="fs-6 text-primary-700 tag">周年慶！滿千送百，精美小禮加碼送～</p>
</nav>