<nav>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid justify-center">
            <nav class="navbar">
                <a class="navbar-brand me-136" href="index.html">
                    <img src="/assets/images/logo.png" alt="logo" width="156px" height="60px">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav align-center">
                        <li class="nav-item me-136">
                            <form class="d-flex search">
                                <span class="material-icons me-8 py-18 ps-20">search</span>
                                <input class="search-bar " type="search" placeholder="輸入關鍵字" aria-label="Search">
                                <button class="search-btn py-12 px-20 md" type="submit">搜尋</button>
                            </form>
                            
                        </li>
                        <li class="nav-item">
                            <a class="nav-link h6 text-neutral-black me-24" href="#">產品分類</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link h6 text-neutral-black me-24" href="story.hyml">關於循環選務</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link h6 text-neutral-black me-24" href="#">專欄文章</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link h6 text-neutral-black me-24" href="#"><span class="material-icons">shopping_cart</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link h6 login-btn px-20" href="#">註冊/登入</a>
                        </li>
                    </ul>
                </div>
            </nav>
            
        </div>
    </nav> 
</nav>