.card{
    border-radius: 24px;
}
.card-tag{
    position: absolute;
    background-color: var(--primary-500);
    padding: 8px 24px;
    border-radius: 24px 0px;
}
.card-luv{
    position: absolute;
    left: 250px;
    top: 16px;
}