.navbar{
    width: 100%;
}
@media(max-width:767px){
    .navbar{
        width: 375px;
    }
}
.nav-link{
    padding: 0;
    margin-bottom: 0px;
}
.nav-link:hover{
    color: var(--primary-700);
}
.nav-item:hover{
    color: var(--primary-700);
    text-decoration: underline;
    text-decoration-color: var(--primary-700);
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
}
.nav-item:active{
    color: var(--primary-700);
    text-decoration: underline;
    text-decoration-color: var(--primary-700);
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
}