.container-fluid {
  width: 100%;
  display: flex;
  justify-content: center !important; /* 水平置中 */
  align-items: center;     /* 垂直置中 */
  padding: 0;
  margin-left: 0 auto;
  margin-right: auto;
}
.img-logo{
  width: 156px;
  height: 60px;
}
@media(max-width:767px){
  .img-logo{ 
    width: 104px;
    height: 40px;
}
}
.header{
  background: #69F0AE;
  font-size: 64px;
}
.search{
    position: relative;
    float: left;
    border: 1px solid var(--neutral-300);
    border-radius: 40px;
    justify-content: center;
}
.search-bar{
    border: none;
}
.search-btn{
    border: 1px solid transparent;
    border-radius: 30px;
    white-space: nowrap; /* 不換行 */
    align-items: center;
    justify-content: center;
    display: inline-block;
    margin: 8px;
    background-color: var(--primary-500);
    color: var(--neutral-0);
}
.search-btn:hover{
  color: var(--primary-700);
}
.tag{
  background-color: var(--primary-50);
  padding: 12px 0px;
  text-align: center;
  margin-bottom: 0;
}
.header-title {
  padding: 0 !important;
}
.offcanvas-body{
  padding: 0px 12px;
}
.offcanvas-header{
  padding: 8px 12px 8px 12px;
}
/* 預設只顯示第一層 */
#product-menu {
  display: none;
}

/* 初始狀態：第二層隱藏 */
#product-menu {
  display: none;
}

/* 第二層被 target 時顯示 */
#product-menu:target {
  display: block;
}

/* 第二層被 target 時隱藏第一層 */
#product-menu:target ~ #menu-level-1 {
  display: none;
}

